.material-upload {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  align-items: center;
  position: relative;
  
  .reload-btn {
    position: absolute;
    top: 8px;
    right: 10px;
  }

  .upload-type {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: @spacing-middle;
    margin-bottom: @spacing-large;

    &>div {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      &>span {
        display: inline-block;
        margin-top: @spacing-normal;

        &.active {
          color: @primary-color;
        }
      }
    }

    img {
      height: 55px;
      width: 55px;
    }

    .divider {
      width: 1px;
      background-color: #666666;
      height: 30px;
      margin: 0 36px;
    }
  }

  .form-row {
    display: flex;
    align-items: center;
    margin-bottom: @spacing-large;

    &>span:first-child {
      flex-shrink: 0;
      margin-right: @spacing-normal;
      width: 60px;
    }

    .material-select {
      width: 200px;
    }
  }


  .upload-server-url {
    margin: 0 @spacing-large;

    &>span:first-child {
      white-space: nowrap;
      flex-shrink: 0;
    }

    &>div:last-child {
      display: block;
      white-space: pre-wrap;
      word-break: break-all;
      width: 200px;
    }
  }
}

.tabs-item {
  width: 80px;
  text-align: center;
}

.material-cut {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .materil-cut-tips {
    margin: @spacing-large 0;
    font-size: 15px;
    font-weight: bold;
  }

  .materil-cut-button {
    width: 240px;
  }
}