.user-login {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  align-items: center;
  position: relative;

  .user-avatar {
    height: 90px;
    width: 90px;
    margin-top: 110px;
    margin-bottom: 40px;
  }

  .user-input {
    width: 300px;
    margin-bottom: 40px;
    border-radius: 22px;

    input::placeholder {
      padding-left: 6px;
      font-size: 14px;
    }
  }

  .user-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 0 8px;
    box-sizing: border-box;
    color: var(--text-color);
  }

  .reload-btn {
    position: absolute;
    top: 8px;
    right: 10px;
  }
}